@import '../../assets/css/bootstrap.min.css';
.mbgb-sample-main-container {
  font-family: 'latolight', "Segoe UI", Tahoma, Geneva, Verdana, "sans-serif";
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

.mbgb-sample-results-area {
  margin-top: 15px;
  position: relative;
}

.info-wrapper {
  h3 {
    font-family: 'latoheavy_italic';
  }
  p {
    margin-top: 18px;
    font-family: 'latomedium';
    font-size: 12pt;
  }
  .example-code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }
}

.mbgb-sample-results-table {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  thead {
    font-weight: bold;
  }
  tbody,
  thead {
    tr {
      .text-12 {
        font-size: 12pt;
      }
      td {}
      td:nth-child(1) {
        width: 25%;
      }
      td:nth-child(2) {
        width: 25%;
      }
      td:nth-child(3) {
        width: 25%;
      }
      td:nth-child(4) {
        width: 25%;
      }
    }
  }
  thead {
    font-size: 18pt;
    display: table;
    width: 100%;
    text-align: center;
    font-size: 18pt;
    tr td {
      text-align: center;
    }
  }
  tbody {
    font-size: 12pt;
    display: table;
    width: 100%
  }
  tr td {
    padding-left: 20px;
    text-align: left;
  }
}

.bracket-left {
  background: url(../../assets/bracket-left.png);
  background-repeat: no-repeat;
  height: 18px;
  background-size: contain;
  float: left;
}

.bracket-right {
  background: url(../../assets/bracket-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
}

.bracket-left,
.bracket-right {
  .s20 {
    height: 20px;
  }
  .s18 {
    height: 18px;
  }
}

.table-fixed {
  width: 100% !important;
}

.solid-left-border {
  border-left: 3px solid black;
}

.mbgb-sample-assets-table {
  margin: 0px;
  white-space: nowrap;
  td:first-of-type {
    padding-right: 5px;
  }
}

.mbgb-sample-assets-table-container {
  max-height: 150px;
  overflow-y: auto;
}

.mbgb-sample-green-check {
  color: #59d600;
  font-size: 14pt;
  font-weight: bold;
  cursor: default;
}

.mbgb-sample-red-x {
  color: #ed1c24;
  font-size: 14pt;
  font-weight: bold;
  cursor: default;
}

.mbgb-sample-refresh-icon {
  font-size: 14pt;
  color: #00aeef;
  cursor: default;
}

.mbgb-sample-stopping-div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mbgb-sample-buttons-container {
  margin-top: -10px;
  padding-left: 30px;
}

.mbgb-sample-buttons-inner-container {
  padding-right: 8px;
}

.mbgb-sample-button {
  width: 150px;
  i {
    font-size: 14pt;
  }
}

.mbgb-sample-alert-icon {
  color: #ffa300;
  font-size: 14pt;
  font-weight: bold;
  cursor: default;
}

.mbgb-sample-cancelled-message {
  color: #ed1c24;
}

.mbgb-sample-lots-message {
  font-size: 10pt;
  font-style: italic;
  color: darkgray;
}

.mbgb-sample-sort-link {
  cursor: pointer;
  color: #0071c5;
}

.mbgb-sample-impatient-icon {
  font-size: 16pt;
  color: #0071c5;
}

.mbgb-sample-loading-indicator {
  -webkit-animation: rotation 2.5s infinite linear;
}

.mbgb-sample-impatient-indicator {
  -webkit-animation: rotation 2s infinite linear;
}

.mbgb-sample-impatient-backwards-indicator {
  -webkit-animation: reverse rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes reverserotation {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@font-face {
  font-family: 'latobold';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/lato-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'latoheavy';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/lato-heavy-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'latoheavy_italic';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/lato-heavyitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'latolight';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/lato-light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'latomedium';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/lato-medium-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'latoregular';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/lato-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'latosemibold';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/lato-semibold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'latothin';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/lato-thin-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'latothin_italic';
  font-weight: normal;
  font-style: normal;
  src: url('../../assets/fonts/lato-thinitalic-webfont.woff2') format('woff2');
}